@use "./" as *;
* {
  @include reset();
}

.big {
  @include flex(center, column, center);
  height: 100vh;
  background-color: $primary-light;

  h1 {
    color: $white;
    display: none;
  }
}
.con {
  width: 25rem;
  height: 25rem;
  @include flex(center, column, center);
  box-shadow: 8px 13px 27px #4e4e4e;
}

.row {
  width: 100%;
  height: 5em;
  padding: 0;
  @include flex(false, false, false);
}

.box {
  width: 100%;
  height: 100%;
  border-radius: 0.22rem;
  font-size: 2em;
  color: $primary-dark;
  @include flex(center, false, center);
}

.white {
  background-color: $secondary-green;
}

.black {
  background-color: $primary-green;
}

.box div {
  font-size: 1em;
}

@media only screen and (max-width: 480px) {
  .con {
    height: 20em;
    width: 20em;
    margin: 40% 5% 40% 5%;
  }

  .box div {
    font-size: 0.79em;
  }
}
