@use "./" as *;

* {
  @include reset();
}

.background {
  @include flex(center, column, center);
  height: 100vh;
  background-color: $primary-light;

  .popUp-message--post {
    font-family: "Montserrat", sans-serif;
    color: $white;
    font-size: 15vmin;
    text-align: center;
    visibility: hidden;
    position: absolute;
    z-index: 1;
  }

  .first {
    display: none;
  }
}
.chess-container {
  @include vmin(80vmin);
  @include flex(center, column, center);
  box-shadow: 8px 13px 27px #4e4e4e;
}

.row {
  @include vmin(80vmin);
  @include flex(false, false, false);
  padding: 0;
}

.box {
  @include vmin(10vmin);
  @include flex(center, false, center);
  border-radius: 0.22rem;
  font-size: 5vmin;
  color: $primary-dark;
}

.white {
  background-color: $secondary-green;
}

.black {
  background-color: $primary-green;
}
