/* WHY ARE YOU HEREEE ??? */

.animationFirst {
  position: relative;
  animation-name: firstMove;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

@keyframes firstMove {
  from {
    transform: translate(0, 0);
  }
  to {
    transform: translate(0, -2em);
  }
}
.animationSecond {
  position: relative;
  animation-name: secondMove;
  animation-duration: 2s;
  animation-delay: 2s;
  animation-fill-mode: forwards;
}

@keyframes secondMove {
  from {
    transform: translate(0, 0);
  }
  to {
    transform: translate(0, 2em);
  }
}
.animationThird {
  position: relative;
  animation-name: thirdMove;
  animation-duration: 2s;
  animation-delay: 4s;
  animation-fill-mode: forwards;
}

@keyframes thirdMove {
  from {
    transform: translate(0, 0);
  }
  to {
    transform: translate(0, -4em);
  }
}
.animationFourth {
  position: relative;
  animation-name: fourthMove;
  animation-duration: 3s;
  animation-delay: 6s;
  animation-fill-mode: forwards;
}

@keyframes fourthMove {
  from {
    transform: translate(0, 0);
  }
  to {
    transform: translate(7.95em, 7.95em);
  }
}
.animationFifth {
  animation-name: h4;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  animation-delay: 9s;
}

@keyframes h4 {
  from {
    background-color: #61714d;
  }
  to {
    background-color: #dfaf5e;
  }
}
.animationSixth {
  animation-name: g3;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  animation-delay: 9.5s;
}

@keyframes g3 {
  from {
    background-color: #61714d;
  }
  to {
    background-color: #dfaf5e;
  }
}
.animationSeventh {
  animation-name: f2;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  animation-delay: 10s;
}

@keyframes f2 {
  from {
    background-color: #61714d;
  }
  to {
    background-color: #dfaf5e;
  }
}
.animationEighth {
  animation-name: e1;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  animation-delay: 10.5s;
}

@keyframes e1 {
  from {
    background-color: #61714d;
  }
  to {
    background-color: #dfaf5e;
  }
}
.animationNinth {
  animation: background-blur;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  animation-delay: 10s;
}

@keyframes background-blur {
  from {
    filter: blur(0);
  }
  to {
    filter: blur(1vmin);
  }
}
.animationLast {
  animation-name: message;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  animation-delay: 11s;
}

@keyframes message {
  from {
    visibility: hidden;
  }
  to {
    visibility: visible;
  }
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.background {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-color: #c2a887;
}
.background .popUp-message--post {
  font-family: "Montserrat", sans-serif;
  color: white;
  font-size: 15vmin;
  text-align: center;
  visibility: hidden;
  position: absolute;
  z-index: 1;
}
.background button {
  background-color: #61714d;
  /* Green */
  border: none;
  border-radius: 2vmin;
  color: white;
  padding: 1vmin 2vmin;
  text-align: center;
  text-decoration: none;
  position: absolute;
  font-size: 2vmin;
  margin-top: 88vmin;
  cursor: pointer;
  z-index: 1;
}
.background button:hover {
  background-color: #8fae93;
}

.chess-container {
  width: 80vmin;
  height: 80vmin;
  max-width: 80vmin;
  min-width: 80vmin;
  max-height: 80vmin;
  max-width: 80vmin;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  box-shadow: 0vmin 1vmin 4vmin 0.5vmin #4e4e4e;
  border-radius: 2vmin;
}

.row {
  width: 80vmin;
  height: 80vmin;
  max-width: 80vmin;
  min-width: 80vmin;
  max-height: 80vmin;
  max-width: 80vmin;
  display: flex;
  padding: 0;
}

.box {
  width: 10vmin;
  height: 10vmin;
  max-width: 10vmin;
  min-width: 10vmin;
  max-height: 10vmin;
  max-width: 10vmin;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5vmin;
  color: #6d152b;
}

.white {
  background-color: #8fae93;
}

.black {
  background-color: #61714d;
}

.a1 {
  border-bottom-left-radius: 2vmin;
}

.h1 {
  border-bottom-right-radius: 2vmin;
}

.a8 {
  border-top-left-radius: 2vmin;
}

.h8 {
  border-top-right-radius: 2vmin;
}

/*# sourceMappingURL=styles.css.map */
