.animationFirst {
  position: relative;
  animation-name: firstMove;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

@keyframes firstMove {
  from {
    transform: translate(0, 0);
  }

  to {
    transform: translate(0, -2em);
  }
}

.animationSecond {
  position: relative;
  animation-name: secondMove;
  animation-duration: 2s;
  animation-delay: 2s;
  animation-fill-mode: forwards;
}

@keyframes secondMove {
  from {
    transform: translate(0, 0);
  }

  to {
    transform: translate(0, 2em);
  }
}

.animationThird {
  position: relative;
  animation-name: thirdMove;
  animation-duration: 2s;
  animation-delay: 4s;
  animation-fill-mode: forwards;
}

@keyframes thirdMove {
  from {
    transform: translate(0, 0);
  }

  to {
    transform: translate(0, -4em);
  }
}

.animationFourth {
  position: relative;
  animation-name: fourthMove;
  animation-duration: 3s;
  animation-delay: 6s;
  animation-fill-mode: forwards;
}

@keyframes fourthMove {
  from {
    transform: translate(0, 0);
  }

  to {
    transform: translate(2.65em * 3, 2.65em * 3);
  }
}

.animationFifth {
  animation-name: h4;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  animation-delay: 9s;
}

@keyframes h4 {
  from {
    background-color: #61714d;
  }

  to {
    background-color: #dfaf5e;
  }
}

.animationSixth {
  animation-name: g3;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  animation-delay: 9.5s;
}

@keyframes g3 {
  from {
    background-color: #61714d;
  }

  to {
    background-color: #dfaf5e;
  }
}

.animationSeventh {
  animation-name: f2;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  animation-delay: 10s;
}

@keyframes f2 {
  from {
    background-color: #61714d;
  }

  to {
    background-color: #dfaf5e;
  }
}

.animationEighth {
  animation-name: e1;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  animation-delay: 10.5s;
}

@keyframes e1 {
  from {
    background-color: #61714d;
  }

  to {
    background-color: #dfaf5e;
  }
}

.animationNinth {
  animation: background-blur;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  animation-delay: 10s;
}

@keyframes background-blur {
  from {
    filter: blur(0);
  }

  to {
    filter: blur(5px);
  }
}

.animationLast {
  animation-name: message;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  animation-delay: 11s;
}

@keyframes message {
  from {
    visibility: hidden;
  }

  to {
    visibility: visible;
  }
}
