.f2 .pawn-white {
  position: relative;
  animation-name: firstMove;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

@keyframes firstMove {
  from {
    transform: translate(0, 0);
  }

  to {
    transform: translate(0, -1.5em);
  }
}

.e7 .pawn-black {
  position: relative;
  animation-name: secondMove;
  animation-duration: 2s;
  animation-delay: 2s;
  animation-fill-mode: forwards;
}

@keyframes secondMove {
  from {
    transform: translate(0, 0);
  }

  to {
    transform: translate(0, 1.5em);
  }
}

.g2 .pawn-white {
  position: relative;
  animation-name: thirdMove;
  animation-duration: 2s;
  animation-delay: 4s;
  animation-fill-mode: forwards;
}

@keyframes thirdMove {
  from {
    transform: translate(0, 0);
  }

  to {
    transform: translate(0, -3.2em);
  }
}

.d8 .queen-black {
  position: relative;
  animation-name: fourthMove;
  animation-duration: 3s;
  animation-delay: 6s;
  animation-fill-mode: forwards;
}

@keyframes fourthMove {
  from {
    transform: translate(0, 0);
  }

  to {
    transform: translate(2.09em * 3, 2.09em * 3);
  }
}

.h4 {
  animation-name: h4;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  animation-delay: 9s;
}

@keyframes h4 {
  from {
    background-color: #61714d;
  }

  to {
    background-color: #dfaf5e;
  }
}

.g3 {
  animation-name: g3;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  animation-delay: 9.5s;
}

@keyframes g3 {
  from {
    background-color: #61714d;
  }

  to {
    background-color: #dfaf5e;
  }
}

.f2 {
  animation-name: f2;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  animation-delay: 10s;
}

@keyframes f2 {
  from {
    background-color: #61714d;
  }

  to {
    background-color: #dfaf5e;
  }
}

.e1 {
  animation-name: e1;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  animation-delay: 10.5s;
}

@keyframes e1 {
  from {
    background-color: #61714d;
  }

  to {
    background-color: #dfaf5e;
  }
}

.chess-container {
  animation: background-blur;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  animation-delay: 11s;
}

@keyframes background-blur {
  from {
    filter: blur(0);
  }

  to {
    filter: blur(5px);
  }
}

.popUp-message--post {
  animation-name: message;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  animation-delay: 12s;
}

@keyframes message {
  from {
    visibility: hidden;
  }

  to {
    visibility: visible;
  }
}
